USE [SQLTraining]
GO
/****** Object:  StoredProcedure [dbo].[spBusiness]    Script Date: 9/11/2024 8:22:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		John 
-- Create date: 08/23/2024
-- Description:	This stored procedure was created to view business records in the Business table
--ChangeLog: Modifying this stored procedure to parameterise it
--Version: v2.0
--Date:09/11/2024
-- =============================================
ALTER PROCEDURE [dbo].[spBusiness]
@Age int null,
@Name varchar(50) null


AS
BEGIN
	

    -- Insert statements for procedure here
select *
from Business
where Age=@Age
and Name=@Name
	
END
GO

select *
from Business

exec spBusiness @age=25,@name='Khilan'




USE [SQLTraining]
GO
/****** Object:  StoredProcedure [dbo].[spBusiness]    Script Date: 9/11/2024 8:22:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		John 
-- Create date: 08/23/2024
-- Description:	This stored procedure was created to update business records in the Business table
--Version: v2.1
--Date:09/11/2024
-- =============================================
create PROCEDURE [dbo].[spUpdateBusiness]
@Age int,
@Salary money



AS
BEGIN
	

    -- Insert statements for procedure here
update Business
set Salary=@Salary
where Age=@Age
	
END
GO

exec spUpdateBusiness @Salary=100000,@age=25
select *
from Business